@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
  position: relative;
  /* cursor: none;   もともとあるカーソルは見えなくなるようにする */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.cursor{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-50%);  /* 上下、左右-50%ずつ移動 */
  pointer-events: none; /* ポインターイベントを無効化(クリックやホバー時の変更) */
  transition: all 0.2s ease;
  background-color: yellow;
  text-align: center;
  line-height: 8rem;
  transition-property: background,transform,width,height; /* 指定スタイルのみ変化させる */
  transform-origin: 100% 100%;
  z-index: 11;
}

/* HEADER */
.header{
  position: fixed;
  display: grid;
  margin: 50px 0;
  width: 100%;
  grid-template-columns: repeat(12,1fr);
  opacity: 0.9;
  z-index: 10;
}
.header_logo{
  grid-column: 1/2;
  height: 48px;
  margin-left: 80px;
}
.header_nav{
  display: flex;
  grid-column: 2/-1;
  margin-right: 80px;
  justify-content: space-between;  /* 内包コンテンツの幅固定 */
  align-self: center;
  justify-self: end;  /* 水平方向の右寄せ */
  font-size: 1rem;
  margin: 0 80px 0 0;
}
.header_nav li{
  list-style: none;  /* list要素の点を消す */
  padding: 1rem;
}
.menu{
  color: white;
  text-decoration: none;
  cursor: none;
  z-index: 10;
}

/* MAIN PAGE(背景：青) */
.container_top{
  display: grid;
  grid-auto-flow: row dense;  /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
  grid-template-columns: calc(133/1600 * 100%) calc(246/1600 * 100%) calc(72/1600 * 100%) calc(948/1600 * 100%) calc(200/1600 * 100%);
  grid-template-rows: 736px 164px 1800px 237px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 16px;
  background-color:midnightblue;
  z-index: 1;
}
.news_text_side{
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  writing-mode: vertical-rl;
  color: white;
  margin-top: 273px;
  margin-left: 83px;
  font-weight: 600;
}
.news_text_line{
  display: inline-block;
  vertical-align: middle;
  opacity: 0.4;
  padding:20px 5px 20px 0px;
  text-decoration: line-through;
}
.news_text_top_sidecontent{
  display: inline-block;
  opacity: 0.7;
  transform: rotate(180deg);
}
.news_text_news_sidecontent{
  display: inline-block;
  transform: rotate(180deg);
}
.news_top_img_background{
  grid-column: 3/-1;
  grid-row: 1/2;
  opacity: 0.3;
  background-color: #191970;
  z-index: 3;
}
.news_top_img{
  grid-column: 3/-1;
  grid-row: 1/2;
  width: 100%;
  z-index: 2;
}
.news_top_text{
  grid-column: 3/-1;
  grid-row: 1/3;
  font-size: 370px;
  font-family: Montserrat;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.25;
  letter-spacing: -32.04px;
  color: white;
  margin-top: 713px;
  margin-right: 50px;
  text-align: right;
  z-index: 1;
}
.news_block_side{
  grid-column: 2/3;
  grid-row: 3/4;
  opacity: 0.5;
  text-align: left;
  margin-top: 149px;
}
.news_text_all{
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.news_text_event_activity{
  font-size: 18px;
  opacity: 0.5;
  font-family: Montserrat;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.22;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
}
.news_block_main{
  grid-column: 4/6;
  grid-row: 3/4;
  height: 1400px;
  width: 948px;
  opacity: 0.5;
  text-align: left;
  margin-top: 149px;
}
.news_date{
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  margin-top: 80px;
  color: rgba(243, 244, 245, 0.5);
}
.news_date:hover{
  text-decoration: underline;
}
.news_content{
  font-family: YuGothic;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.11;
  letter-spacing: -0.18px;
  color: rgba(243, 244, 245, 0.5);
}
.news_content:hover{
  text-decoration: underline;
}
.news_pagination{
  grid-column: -3/-2;
  grid-row: 4/5;
}
.news_text_left{
  display: inline-block;
  padding: 0;
  margin-left: 193px;
  color: white;
}
.news_text_margin{
  display: inline-block;
  padding: 0;
  font-family: Montserrat;
  font-size: 13.5px;
  margin-left: 30px;
  color: white;
}
.news_text_right{
  display: inline-block;
  padding: 0;
  margin-left: 739px;
}

/* MAIN PAGE(背景：白) */
.container_bottom{
  display: grid;
  grid-auto-flow: row dense;  /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
  grid-template-columns: calc(133/1600 * 100%) calc(1466/1600 * 100%);
  grid-template-rows: 480px 500px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 16px;
  background-color:white;
  z-index: 1;
}
.news_bottom_text_contact{
  display: inline-block; 
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 172px;
  margin-left: 84px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.6px;
  text-align: left;
  vertical-align: middle; 
  color: #272d3d; 
}
.news_bottom_text_contact_jp{
  display: inline-block;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 184px;
  margin-left: 436px;
  font-family: YuGothic;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.73;
  letter-spacing: -0.22px;
  text-align: left;
  vertical-align: middle; 
  color: #272d3d; 
}
.news_learnmore{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 297px;
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.14;
  letter-spacing: normal;
  text-align: left;
  color: #191970;
}
.news_next{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 297px;
  margin-left:800px;
  font-family: Montserrat;
  font-size: 116px;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background-image: url("../images/A_PC/05_NEWS/1x/b-news_next_image.jpg");
  background-position: 0% 85%;
  -webkit-background-clip: text;
}
.news_bottom_img{
  grid-column: 2/3;
  grid-row: -2/-1;
  width: 100%;
}