@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
  position: relative;
  /* cursor: none;  /* もともとあるカーソルは見えなくなるようにする */
  margin:0px;
  font-family: 'Montserrat', sans-serif;
}
.cursor{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%,-50%);  /* 上下、左右-50%ずつ移動 */
  pointer-events: none; /* ポインターイベントを無効化(クリックやホバー時の変更) */
  transition: all 0.2s ease;
  background-color: yellow;
  text-align: center;
  line-height: 8rem;
  transition-property: background,transform,width,height; /* 指定スタイルのみ変化させる */
  transform-origin: 100% 100%;
  z-index: 11;
}

/* HEADER */
.header{
  position: fixed;
  display: grid;
  margin: 50px 0;
  width: 100%;
  grid-template-columns: repeat(12,1fr);
  opacity: 0.9;
  z-index: 10;
}
.header_logo{
  grid-column: 1/2;
  height: 48px;
  margin-left: 80px;
}
.header_nav{
  display: flex;
  grid-column: 2/-1;
  margin-right: 80px;
  justify-content: space-between;  /* 内包コンテンツの幅固定 */
  align-self: center;
  justify-self: end;  /* 水平方向の右寄せ */
  font-size: 1rem;
  margin: 0 80px 0 0;
}
.header_nav li{
  list-style: none;  /* list要素の点を消す */
  padding: 1rem;
}
.menu{
  color: white;
  text-decoration: none;
  cursor: none;
  z-index: 10;
}

/* MAIN PAGE(背景：青) */
.container_top{
  display: grid;
  grid-auto-flow: row dense;  /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
  grid-template-columns: calc(133/1600 * 100%) calc(247/1600 * 100%) calc(1220/1600 * 100%);
  grid-template-rows: 736px 312px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 16px;
  background-color:midnightblue;
  z-index: 1;
}
.service_text_side{
  grid-column: 1/2;
  grid-row: 1/2;
  width: fit-content;
  writing-mode: vertical-rl;
  color: white;
  margin-top: 273px;
  margin-left: 83px;
  font-weight: 600;
}
.service_text_line{
  display: inline-block;
  vertical-align: middle;
  opacity: 0.4;
  padding:20px 5px 20px 0px;
  text-decoration: line-through;
}
.service_text_top_sidecontent{
  display: inline-block;
  opacity: 0.7;
  transform: rotate(180deg);
}
.service_text_service_sidecontent{
  display: inline-block;
  transform: rotate(180deg);
}
.service_top_img_background{
  grid-column: 3/-1;
  grid-row: 1/2;
  opacity: 0.3;
  background-color: #191970;
  z-index: 3;
}
.service_top_img{
  grid-column: 3/-1;
  grid-row: 1/2;
  width: 100%;
  z-index: 2;
}
.service_top_text{
  font-size: 400.5px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.25;
  letter-spacing: -12.04px;
  color: white;
  margin-top: 700px;
  margin-left: 200px;
  text-align: right;
  z-index: 1;
}

/* MAIN PAGE(背景：白) */
.container_middle{
  display: grid;
  grid-auto-flow: row dense;  /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
  grid-template-columns: calc(133/1600 * 100%) calc(158/1600 * 100%) calc(467/1600 * 100%) calc(133/1600 * 100%) calc(467/1600 * 100%) calc(241/1600 * 100%);
  grid-template-rows:150px 600px 70px 600px 90px 600px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 16px;
  background-color: white;
}
.service_text_service_side_blue{
  grid-column: 1/2;
  grid-row: 2/3;
  color: midnightblue;
  writing-mode: vertical-rl;
}
.service_text_service_middle_sidecontent{
  display: inline-block;
  transform: rotate(180deg);
}
.service_middle_title_content{
  font-family: YuGothic;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
}
.service_middle_discription_content{
  font-family: YuGothic;
  font-size: 15.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: normal;
  text-align: justify;
}
.service_middle_img_up{
  grid-column: 3/5;
  grid-row: 2/3;
  width: 100%;
}
.service_line_side_content{
  display: inline-block;
  text-decoration: line-through;
  transform: rotate(180deg);
  padding-right: 2px;
  padding-bottom: 19px;
}
.service_text_side_up{
  grid-column: 2/3;
  grid-row: 2/3;
  color: #191970;
  writing-mode: vertical-rl;
}
.service_text_side_up_content{
  display: inline-block;
  font-family: Montserrat;
  transform: rotate(180deg);
  text-align: right;
  font-weight: bold;
  margin-right: 0px;
}
.service_middle_title_up{
  grid-column: 5/6;
  grid-row: 2/3;
  margin-top: 135px;
  margin-left: 94px;
}
.service_middle_discription_up{
  grid-column: 5/6;
  grid-row: 2/3;
  margin-top: 228px;
  margin-left: 94px;
  height:232px;
  width: 339px;
}
.service_middle_img_middle{
  grid-column: 4/6;
  grid-row: 4/5;
  width: 100%;
}
.service_text_side_middle{
  grid-column: 6/7;
  grid-row: 4/5;
  color: #191970;
  writing-mode: vertical-rl;
  margin-right: 207px;
}
.service_text_side_middle_content{
  display: inline-block;
  font-family: Montserrat;
  transform: rotate(180deg);
  text-align: right;
  font-weight: bold;
}
.service_middle_title_middle{
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 135px;
}
.service_middle_discription_middle{
  grid-column: 3/4;
  grid-row: 4/5;
  margin-top: 229px;
  height:232px;
  width: 340px;
}
.service_middle_img_bottom{
  grid-column: 3/5;
  grid-row: -2/-1;
  width: 100%;
}
.service_text_side_bottom{
  grid-column: 2/3;
  grid-row: -2/-1;
  color: black;
  writing-mode: vertical-rl;
}
.service_text_side_bottom_content{
  display: inline-block;
  font-family: Montserrat;
  transform: rotate(180deg);
  text-align: right;
  font-weight: bold;
}
.service_middle_title_bottom{
  grid-column: 5/6;
  grid-row: -2/-1;
  margin-top: 136px;
  margin-left: 96px;
}
.service_middle_discription_bottom{
  grid-column: 5/6;
  grid-row: -2/-1;
  margin-top: 228px;
  margin-left: 96px;
  height:232px;
  width: 339px;
}
.container_bottom{
  display: grid;
  grid-auto-flow: row dense;  /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
  grid-template-columns: calc(133/1600 * 100%) calc(1467/1600 * 100%);
  grid-template-rows:575px 500px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 16px;
  background-color: white;
}
.service_bottom_text_company{
  display: inline-block; 
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 320px;
  margin-left: 84px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.6px;
  text-align: left;
  vertical-align: middle; 
  color: #272d3d; 
}
.service_bottom_text_company_jp{
  display: inline-block;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 320px;
  margin-left: 436px;
  font-family: YuGothic;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.73;
  letter-spacing: -0.22px;
  text-align: left;
  vertical-align: middle; 
  color: #272d3d; 
}
.service_learnmore{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 400px;
  margin-left: 100px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 7.14;
  letter-spacing: normal;
  text-align: left;
  color: #191970;
}
.service_next{
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 400px;
  margin-left:800px;
  font-family: Montserrat;
  font-size: 116px;
  font-weight: 900;
  color: transparent;
  text-align: center;
  background-image: url("../images/A_PC/03_SERVICE/1x/b-service_next_image.jpg");
  background-position: 0% 85%;
  -webkit-background-clip: text;
}
.service_bottom_img{
  grid-column: 2/3;
  grid-row: -2/-1;
  width: 100%;
  background-color: #191970;
}
