@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    position: relative;
    cursor: none;    /* もともとあるカーソルは見えなくなるようにする */
    margin: 0;
    font-family: 'Montserrat', '游ゴシック体','游ゴシック', YuGothic, Yu Gothic, sans-serif;
    font-weight: normal;
}

.cursor{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);    /* 上下、左右-50%ずつ移動 */
    pointer-events: none; /* ポインターイベントを無効化(クリックやホバー時の変更) */
    transition: all 0.2s ease;
    background-color: yellow;
    text-align: center;
    line-height: 8rem;
    transition-property: background,transform,width,height; /* 指定スタイルのみ変化させる */
    transform-origin: 100% 100%;
    z-index: 11;
}
.link-transparent{
    width: 0rem;
    height: 0rem;
    transform: translate(-50%,-50%);
    pointer-events: none;
    cursor: none;
    z-index: 12;
}
.link-more{
    width: 8rem;
    height: 8rem;
    transform: translate(-50%,-50%);
    background-color: yellow;
    pointer-events: none;
    cursor: none;
    z-index: 11;
}
.link-carousel{
    width: 8rem;
    height: 8rem;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    pointer-events: none;
    cursor: none;
    z-index: 11;
}


.container{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 150px 610px 140px 230px 620px;
    font-size: 16px;
    background-color:#191970;
    z-index: 1;
}
.text_white{
    color: white;
}
.text_blue{
    color: #191970;
}
.text_black{
    color: black;
}




/* HEADER */
.header{
    position: fixed;
    display: grid;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 16px;
    width: 100%;
    grid-template-columns: 80px repeat(10,1fr) 80px;
    background-color: rgba(255,255,255,0);
    opacity: 0.9;
    z-index: 100;
}
.header_shadow{
    box-shadow: 0px 10px 9px 1px rgba(25, 25, 112, 0.03);
    background-color: #ffffff;
    opacity: 1;
}
.header_logo{
    grid-column: 2/3;
    grid-row: 1/2;
    height: 48px;
}
.header_logo img{
    height: 100%;
}
.header_nav{
    display: flex;
    grid-column: 2/12;
    grid-row: 1/2;
    margin-left: auto;
}
.header_nav li{
    list-style: none;    /* list要素の点を消す */
    font-size: 14px;
    margin-left: 50px;
    padding: 0;
}
.menu{
    text-decoration: none;
    cursor: none;
    z-index: 10;
}


.header_area{
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 150px;
}



/* MAIN */
.main{
    grid-column: 1/-1;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 135px 490px 400px 1fr 80px;
    grid-template-rows: 610px 3px 130px;
    width: 100%;
    z-index: 10;
}
.main-title{
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    margin-top: 160px;
}
.main-word-top{
	display: block;
    font-family: Montserrat;
	font-size: 14px;
	margin-bottom: 30px;
    line-height: 1.65;
    text-align: left;
}
.main-word-center{
	display: block;
	font-family: Montserrat;
	font-size: 48px;
	margin: 0;
	line-height: 1.20;
	letter-spacing: -0.5px;
	text-align: left;
}
.main-word-bottom{
	display: block;
    /* font-family: YuGothic; */
    font-size: 14px;
    margin-top: 30px;
    line-height: 1.70;
    text-align: left;
}
.main_visual{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 400px;
}
.main_visual img{
    width: 100%;
}
.main-pager{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-top: 280px;
}
#page-count{
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
#page-count-total{
    color: rgba(255,255,255,0.5);
    text-align: center;
    margin-top: 0px;
}
.page-progress{
    width: 20px;
    height: 2px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}
.page-progress::-webkit-progress-value {
    background-color: white;
}
.page-progress::-moz-progress-bar {
    background-color: white;
}
.main_contents{
    grid-column: 4/5;
    grid-row: 1/2;
    color: white;
    text-align: right;
    margin-top: 510px;
}
.main-content{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.5;
}
.main-category{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.main_prevarea{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.main_nextarea{
    grid-column: 4/5;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.main-progress{
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0;
    padding: 0;
}
.page-progress-wide{
    transform: translateY(-15px);  /* なぜか15px下に作られるため */
    width: 100%;
    height: 3px;
    background-color: white;
}
.page-progress-wide::-webkit-progress-value {
    background-color: white;
}
.page-progress-wide::-moz-progress-bar {
    background-color: white;
}


/* NEWS */
.news{
    grid-column: 2/-1;
    grid-row: 3/4;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.news_title{
    margin: 0 45px 0 0;
    display: inline-block;
    align-self: center;
    opacity: 0.7;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 4.29;
    color: rgba(255, 255, 255, 0.5);
}
.news_posts{
    display: inline-block;
    vertical-align: middle;
}
.news_post{
    display: block;
    margin: 4px 0;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.68;
    text-decoration: none;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.news_post:hover{
    text-decoration: underline;
}

/* SCROLL */
.scroll_down{
    grid-column: 1/-1;
    grid-row: 3/4;
    align-self: center;
    text-align: right;
    margin-right: 80px;
}
.scroll{
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    opacity: 0.7;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 4.29;
    color: rgba(255, 255, 255, 0.5);
}
.down-circle{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 48px;
    line-height: 48px;  /* font-sizeとline-heightを合わせると真ん中寄せになる */
    text-align: center;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1.0);
    border-radius: 50%;
}
.down-cursor{
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
.background_img{
    grid-column: 1/-1;
	grid-row: 1/-1;
    opacity: 0.1;
    width: 1600px;
    height: 900px;
    z-index: 2;
}


/* VISION */
.vision{
    grid-column: 1/-1;
    grid-row: 5/6;
    display: grid;
    grid-template-columns: 300px 300px 150px 600px 250px;
}
.vision_side{
    grid-column: 1/2;
    color: white;
    margin-left: 80px;
    font-size: 20px;
    font-weight: 500;
}
.vision_sidecontent{
    transform: rotate(270deg);
    display: inline-block;
    width: fit-content;
}
.vision_visual{
    grid-column: 2/3;
    width: 100%;
    z-index: 10;
}
.vision_contents{
    grid-column: 4/5;
    color: white;
    font-weight: 500;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.vision_contents h2{
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: normal;
    font-family: '游ゴシック体', yuGothic, sans-serif;
    line-height: 1.7;
}
.vision_contents h4{
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    font-family: '游ゴシック体', yuGothic, sans-serif;
    line-height: 2;
}
.vision_background{
    grid-column: 1/-1;
    grid-row: 4/6;
    margin: 0;
    color: rgba(255, 255, 255, 0.05);
    mix-blend-mode: overlay;
    font-family: Montserrat;
    font-size: 400px;
    font-weight: 100;
    line-height: 0.25;
    letter-spacing: -32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    z-index: 2;
}
@keyframes hscroll {
	0% { transform:translateX(4px); }
	100% { transform:translateX(-100%); }
}
.vision_background ul {
	display:inline-block;
	margin:100px 0;
	padding:0;
	animation:hscroll 60s linear infinite;
}
.vision_background li {
	display:inline-block;
}
.vision_learnmore{
    margin-top: 60px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    display: inline-block;
    align-self: center;
    text-decoration: none;
    transform:translateX(1em);
    color: #f3f4f5;
}
.vision_learnmore span{
    text-decoration: underline;
}
.vision_learnmore::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #f9f9fa;
    opacity: 0.1;
    border-radius: 50%;
    transform:translate(-20px,-10px);
    z-index: 10;
}
/* .vision_learnmore:hover::before{
    animation: learnmore_effect 0.5s;
    animation-fill-mode: forwards;
} */
@keyframes learnmore_effect{
    0%{
        width: 3em;
    }
    70%{
        width: 8em;
        border-radius: 50%/100%;
        transform:translate(-1em,-0.5em);
    }
    100%{
        width: 3em;
        border-radius: 50%;
        transform:translate(5em,-0.5em);
    }
}



.container_white{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 125px 570px 230px 160px 1fr;
    font-size: 16px;
    background-color:white;
}
.activities_side{
    grid-column: 1/2;
    grid-row: 2/4;
    color: #191970;
    writing-mode: vertical-rl;
}
.activities_sidecontent{
    transform: rotate(180deg);
    display: inline-block;
    width: fit-content;
}
.activities_contents{
    grid-column: 3/-1;
    grid-row: 2/3;
    margin-right: 50px;
    overflow: auto;    /* 横スクロール実装 */
    white-space: nowrap;    /* 横スクロール実装 */
    scroll-behavior: smooth;
}
.activities_frame{
    display: inline-block;
    width: 350px;
    margin-right: 50px;
    vertical-align: top;
}
.activities_frame img{
    width: 100%;
}
.activities_date{
    color: #9c9ca8;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
}
.activities_content{
    white-space: pre-wrap;
    text-decoration: none;
    color: #272d3d;
}
.activities_content:hover{
    text-decoration: underline;
}
.activities_option{
    grid-column: 3/-1;
    grid-row: 3/4;
    border-bottom: solid 1px #f6f6fa;
}
.activities_left{
    display: inline-block;
    width: 16px;
    padding: 0;
    margin-right: 20px;
}
.activities_right{
    display: inline-block;
    width: 16px;
    padding: 0;
    transform: scale(-1,1);
    margin-right: 0;
}
.white_learnmore{
    margin-left: 40px;
    padding: 20px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 500;
    display: inline-block;
    align-self: center;
    transform:translateX(1em);
    color: #191970;
    z-index: 11;
}
.white_learnmore::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #e4e5f7;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(-1em,-0.5em);
    z-index: 10;
}
/* .white_learnmore:hover::before{
    animation: learnmore_effect 0.7s;
    animation-fill-mode: forwards;
} */

.parallax{
    grid-column: 2/-1;
    grid-row: 5/6;
}
.parallax-bg {
    background-attachment: fixed;
    background-position: 0 200px;
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 150vh;
}
.bg-text{
    font-size: 48px;
    color: #272d3d;
    background-color: rgba(0, 0, 0, 0);
    margin:0 0 0 80px;
    padding: 0;
    z-index: 10;
}
.project_learnmore{
    margin:0 0 0 80px;
    z-index: 10;
}


.footer{
    display: grid;
    grid-template-columns: 135px 635px 180px;
    grid-template-rows: 290px 490px 120px;
    background-color: #26263b;
    color: #ffffff;
}
.footer_company{
    grid-column: 2/3;
    grid-row: 2/3;
}
.footer_logo_img{
    display: inline;
    width: 90px;
    vertical-align: middle;
}
.footer_company_name{
    display: inline;
    font-family: Montserrat;
    margin-left: 25px;
    font-size: 16px;
    line-height: 3.75;
    vertical-align: middle;
}
.footer_postcode{
    margin: 60px 0 0 0;
    font-size: 14px;
    line-height: 1.71;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.footer_address{
    margin: 12px 0 50px 0;
    font-size: 14px;
    line-height: 1.71;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.footer_contact{
    margin: 0 0 0 15px;
    font-size: 14px;
    font-family: '游ゴシック体', yuGothic, sans-serif;
    color: #f3f4f5;
}
.footer_contact::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #e4e5f7;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(-15px,-10px);
    z-index: 10;
}
.footer_copyright{
    grid-column: 2/3;
    grid-row: 3/4;
}
.footer_copyright_sentence{
    display: inline-block;
    margin-right: 40px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 5;
    color: rgba(255, 255, 255, 0.5);
}
.footer_copyright_link{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 5;
    color: rgba(255, 255, 255, 0.5);
}
.footer_sitemap_main{
    grid-column: 3/4;
    grid-row: 2/3;
}
.footer_sitemap_main a{
    display: block;
    color: white;
    line-height: 3.75;
    text-decoration: none;
}
.footer_sitemap_main a:hover{
    text-decoration-line: underline;
}
.footer_sitemap_contents{
    grid-column: 4/5;
    grid-row: 2/3;
}
.footer_sitemap_contents a{
    display: block;
    color: rgba(255, 255, 255, 0.5);
    line-height: 3.75;
    text-decoration: none;
}
.footer_sitemap_contents a:hover{
    text-decoration-line: underline;
}



/* 下から上に表示させるアニメーション */
.wrap_animation{
    overflow: hidden;
    position: relative;
}
.wrap_animation::before{
    content: '';
    animation: img-wrap 1s cubic-bezier(0.5,0,0,1) forwards;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}
@keyframes img-wrap{
    100%{
        transform: translateY(100%);
    }
}

/* ふわっと表示させるアニメーション */
.fuwari_animation{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 2s;
}
.fuwari_animation.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* スクロールバー */
::-webkit-scrollbar{    /* スクロールの幅の設定 */
    width: 8px;    /* 縦スクロールバーの幅 */
    height: 3px;    /* 横スクロールバーの高さ */
    position: absolute;
}
::-webkit-scrollbar-track-piece{    /* スクロールの背景の設定 */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    position: absolute;
}
::-webkit-scrollbar-thumb{    /* スクロールのつまみ部分の設定 */
    height: 8px;
    width: 8px;
    border-radius: 5px;
    background: #191970;
}
html{
    overflow: overlay;    /* スクロールバーの位置の指定になる */
}