@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    position: relative;
    cursor: none;    /* もともとあるカーソルは見えなくなるようにする */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
.font_yu{
    font-family: '游ゴシック体','游ゴシック', YuGothic, Yu Gothic, sans-serif;
}
.cursor{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);    /* 上下、左右-50%ずつ移動 */
    pointer-events: none; /* ポインターイベントを無効化(クリックやホバー時の変更) */
    transition: all 0.2s ease;
    background-color: yellow;
    text-align: center;
    line-height: 8rem;
    transition-property: background,transform,width,height; /* 指定スタイルのみ変化させる */
    transform-origin: 100% 100%;
    z-index: 11;
}
.link-transparent{
    width: 0rem;
    height: 0rem;
    transform: translate(-50%,-50%);
    pointer-events: none;
    cursor: none;
    z-index: 12;
}
.link-more{
    width: 8rem;
    height: 8rem;
    transform: translate(-50%,-50%);
    background-color: yellow;
    pointer-events: none;
    cursor: none;
    z-index: 11;
}
.link-carousel{
    width: 8rem;
    height: 8rem;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    pointer-events: none;
    cursor: none;
    z-index: 11;
}
.container{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 16px;
    background-color:#191970;
    z-index: 1;
}
.text_white{
    color: white;
}
.text_blue{
    color: #191970;
}
.text_black{
    color: black;
}




/* HEADER */
.header{
    position: fixed;
    display: grid;
    margin: 50px 0;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    opacity: 0.9;
    z-index: 10;
}
.header_shadow{
    background-color: white;
    opacity: 1.0;
    box-shadow: 0px 10px 9px 1px rgba(25, 25, 112, 0.03);
}
.header_logo{
    grid-column: 1/2;
    height: 48px;
    margin-left: 80px;
}
.header_nav{
    display: flex;
    grid-column: 2/-1;
    margin-right: 80px;
    justify-content: space-between;    /* 内包コンテンツの幅固定 */
    align-self: center;
    justify-self: end;    /* 水平方向の右寄せ */
    font-size: 1rem;
    margin: 0 80px 0 0;
}
.header_nav li{
    list-style: none;    /* list要素の点を消す */
    font-size: 14px;
    margin-right: 50px;
    padding: 0;
}
.menu{
    color: white;
    text-decoration: none;
    cursor: none;
    z-index: 10;
}
.header_area{
    grid-column: 1/2;
    grid-row: 1/-1;
    max-height: 150px;
}



/* MAIN */
.main{
    grid-column: 1/-1;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    width: 100%;
    z-index: 10;
}
.main_title{
    grid-column: 1/5;
    grid-row: 1/-1;
    margin-left: 135px;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
}
.main-word-top{
	display: inline-block;
  font-family: Montserrat;
	font-size: 14px;
	margin-bottom: 30px;
  line-height: 1.65;
  text-align: left;
}
.main-word-center{
	display: inline-block;
	font-family: Montserrat;
	font-size: 48px;
	margin: 0;
	line-height: 1.20;
	letter-spacing: -0.5px;
	text-align: left;
}
.main-word-bottom{
	display: inline-block;
  font-family: YuGothic;
	font-size: 14px;
	margin-top: 30px;
  line-height: 1.70;
  text-align: left;
}
.main_nextarea{
    grid-column: 8/11;
    grid-row: 1/-1;
    width: 100%;
}
.main_visual{
    width: 100%;
    grid-column: 5/8;
    grid-row: 1/-1;
}
.main_visual img{
    max-width: 400px;
}
.main_pager{
    grid-column: 12/-1;
    grid-row: 1/-1;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    text-align: right;
    margin-right: 80px;
}
.main_contents{
    grid-column: 12/-1;
    grid-row: 1/-1;
    color: white;
    align-self:flex-end;    /* 下寄せ */
    text-align: right;
    margin-right: 80px;
}
.main_prevarea{
    grid-column: 1/5;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.main_nextarea{
    grid-column: 8/12;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.background_img{
    grid-column: 1/-1;
    grid-row: 1/6;
    opacity: 0.1;
    width: 100%;
    z-index: 2;
}




/* NEWS */
.news{
    grid-column: 1/11;
    grid-row: 5/6;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.news_title{
    margin: 0 45px 0 135px;
    display: inline-block;
    align-self: center;
}
.news_posts{
    display: inline-block;
    vertical-align: middle;
}
.news_posts p a{
    color: white;
    text-decoration: none;
}
.news_posts p a:hover{
    text-decoration: underline;
}



/* SCROLL */
.scroll_down{
    grid-column: 11/-1;
    grid-row: 5/6;
    align-self: center;
    text-align: right;
    margin-right: 80px;
    z-index: 10;
}
.scroll_down p{
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.down{
    width: 50px;
    height: 50px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
}


/* VISION */
.vision{
    grid-column: 1/-1;
    grid-row: 7/9;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.vision_visual{
    grid-column: 3/5;
    width: 100%;
}
.vision_contents{
    grid-column: 6/11;
    color: white;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.vision_contents h2{
    margin: 0px;
}
.vision_contents h4{
    margin-top: 50px;
    margin-bottom: 0px;
}
.vision_learnmore{
    margin-top: 80px;
    padding: 20px;
    display: inline-block;
    align-self: center;
    transform:translateX(1em);
    color: white;
}
.vision_learnmore::before{
    position: absolute;
    content: '';
    width: 3em;
    height: 3em;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(-1em,-0.5em);
    z-index: 10;
}
.vision_learnmore:hover::before{
    animation: learnmore_effect 0.5s;
    animation-fill-mode: forwards;    /* アニメーション後に戻らない(100%の位置を維持) */
}
@keyframes learnmore_effect{
    0%{
        width: 3em;
    }
    70%{
        width: 8em;
        border-radius: 50%/100%;
        transform:translate(-1em,-0.5em);
    }
    100%{
        width: 3em;
        border-radius: 50%;
        transform:translate(5em,-0.5em);
    }
}
.vision_side{
    grid-column: 1/2;
    color: white;
    writing-mode: vertical-rl;
}
.vision_sidecontent{
    transform: rotate(180deg);
    display: inline-block;
    width: fit-content;
}


.container_white{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px repeat(2,1fr) 230px repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 16px;
    background-color:white;
    z-index: 1;
}
.activities_side{
    grid-column: 1/2;
    grid-row: 2/4;
    color: #191970;
    writing-mode: vertical-rl;
}
.activities_sidecontent{
    transform: rotate(180deg);
    display: inline-block;
    width: fit-content;
}
.activities_contents{
    grid-column: 3/-1;
    grid-row: 2/4;
    margin-right: 50px;
    overflow: auto;    /* 横スクロール実装 */
    white-space: nowrap;    /* 横スクロール実装 */
    padding-bottom: 100px;
}
.activities_frame{
    display: inline-block;
    width: 350px;
    margin-right: 50px;
    vertical-align: top;
}
.activities_frame img{
    width: 100%;
}
.activities_date{
    color: gray;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 0;
}
.activities_content{
    white-space: pre-wrap;
    text-decoration: none;
}
.activities_content:hover{
    text-decoration: underline;
}
.activities_option{
    grid-column: 3/-1;
    grid-row: 4/5;
    border-bottom: solid 1px #f6f6fa;
}
.activities_left{
    display: inline-block;
    padding: 0;
    margin-right: 20px;
}
.activities_right{
    display: inline-block;
    padding: 0;
    margin-right: 0;
}
.white_learnmore{
    margin-left: 40px;
    padding: 20px;
    display: inline-block;
    align-self: center;
    transform:translateX(1em);
    color: black;
}
.white_learnmore::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: #d6d6da;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(-1em,-0.5em);
    z-index: 10;
}
.white_learnmore:hover::before{
    animation: learnmore_effect 0.5s;
    animation-fill-mode: forwards;    /* アニメーション後に戻らない(100%の位置を維持) */
}

.project{
    grid-column: 2/-1;
    grid-row: 5/8;
}
.project h1{
    font-size: 48px;
    margin: 160px 0 80px 80px;
}
.project_learnmore{
    margin: 0 0 110px 80px;
}
.project_image{
    background-color: blue;
    padding: 0;
}
.project_image img{
    padding: 0;
    width: 100%;
    opacity: 0.7;
}

/* 下から上に表示させるアニメーション */
.wrap_animation{
    overflow: hidden;
    position: relative;
}
.wrap_animation::before{
    content: '';
    animation: img-wrap 1s cubic-bezier(0.5,0,0,1) forwards;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    z-index: 20;
}
@keyframes img-wrap{
    100%{
        transform: translateY(100%);
    }
}

/* ふわっと表示させるアニメーション */
.fuwari_animation{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 2s;
}
.fuwari_animation.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* スクロールバー */
::-webkit-scrollbar{    /* スクロールの幅の設定 */
    width: 8px;    /* 縦スクロールバーの幅 */
    height: 3px;    /* 横スクロールバーの高さ */
    position: absolute;
}
::-webkit-scrollbar-track-piece{    /* スクロールの背景の設定 */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    position: absolute;
}
::-webkit-scrollbar-thumb{    /* スクロールのつまみ部分の設定 */
    height: 8px;
    width: 8px;
    border-radius: 5px;
    background: #191970;
}
html{
    overflow: overlay;    /* スクロールバーの位置の指定になる */
}