@import url('https://fonts.googleapis.com/css2?family=Montserrat');
        
body{
    position: relative;
    cursor: none;    /* もともとあるカーソルは見えなくなるようにする */
    margin: 0;
}
.cursor{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);    /* 上下、左右-50%ずつ移動 */
    pointer-events: none; /* ポインターイベントを無効化(クリックやホバー時の変更) */
    transition: all 0.3s ease;
    background-color: yellow;
    text-align: center;
    line-height: 8rem;
    transition-property: background,transform,width,height; /* 指定スタイルのみ変化させる */
    transform-origin: 100% 100%;
    z-index: 11;
}
.link-grow{
    width: 0rem;
    height: 0rem;
    transform: translate(-50%,-50%);
    background-color: rgba(100,100,100,200);
    pointer-events: none;
    cursor: none;
    z-index: 11;
}
.link-more{
    width: 8rem;
    height: 8rem;
    transform: translate(-50%,-50%);
    background-color: yellow;
    pointer-events: none;
    cursor: none;
    z-index: 11;
}
.container{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 16px;
    background-color:midnightblue;
    z-index: 1;
}
.header{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column: 1/-1;
    grid-row: 1/2;
    max-height: 10vh;
    z-index: 10;
}
.header_logo{
    grid-column: 1/2;
    width: 100%;
}
.header_nav{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    grid-column: 8/-1;
    grid-row: 1/2;
    justify-self: end;    /* 右端固定 */
    justify-content: space-between;    /* 内包コンテンツの幅固定 */
    width: 100%;    /* grid横幅の最大までナビゲーションバーとする */
    max-height: 10vh;    /* 10vhを最大の高さにする */
    align-self: center;
    justify-self: end;    /* 水平方向の右寄せ */
    font-size: 1rem;
    opacity: 0.9;
}
.header_nav li{
    list-style: none;    /* list要素の点を消す */
    padding: 1rem;
}
.menu{
    color: white;
    text-decoration: none;
    cursor: none;
    z-index: 10;
}
.text_white{
    color: white;
}
.text_blue{
    color: midnightblue;
}

.main_title{
    font-family: 'Montserrat', sans-serif;
    grid-column: 2/5;
    grid-row: 2/5;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.main_visual{
    grid-column: 5/8;
    grid-row: 2/5;
    z-index: 10;
}
.main_visual img{
    width: 100%;
}
.main_pager{
    grid-column: 12/-1;
    grid-row: 3/4;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.main_contents{
    grid-column: 12/-1;
    grid-row: 4/5;
    color: white;
    align-self:flex-end;    /* 下寄せ */
    z-index: 10;
}
.news_title{
    grid-column: 2/3;
    grid-row: 5/6;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.news_posts{
    grid-column: 3/11;
    grid-row: 5/6;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.news_scroll{
    grid-column: 11/-1;
    grid-row: 5/6;
    color: white;
    align-self: center;    /* 垂直方向の中央寄せ */
    z-index: 10;
}
.news_scroll::after{
    position: absolute;
    content: '';
    color: black;
    width: 3em;
    height: 3em;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(1em,-0.5em);
    z-index: 10;
}
.main_background{
    grid-column: 1/-1;
    grid-row: 1/6;
    opacity: 0.1;
    width: 100%;
    z-index: 2;
}
.vision_visual{
    grid-column: 3/5;
    grid-row: 7/9;
    width: 100%;
}
.vision_contents{
    grid-column: 6/11;
    grid-row: 7/9;
    color: white;
    font-family: '游ゴシック体', yuGothic, sans-serif;
}
.vision_contents h2{
    margin-top: 0px;
}
.vision_side{
    grid-column: 1/2;
    grid-row: 7/8;
    color: white;
    writing-mode: vertical-rl;
}
.vision_sidecontent{
    transform: rotate(180deg);
    display: inline-block;
    width: fit-content;
}
.vision_learnmore{
    display: inline-block;
    align-self: center;
    transform:translateX(1em);
}
.vision_learnmore::before{
    position: absolute;
    content: '';
    width: 3em;
    height: 3em;
    background-color: white;
    opacity: 0.3;
    border-radius: 50%;
    transform:translate(-1em,-0.5em);
    z-index: 10;
}
.vision_learnmore:hover::before{
    animation: learnmore_effect 1s;
    animation-fill-mode: forwards;    /* アニメーション後に戻らない(100%の位置を維持) */
}
@keyframes learnmore_effect{
    0%{
        width: 3em;
    }
    70%{
        width: 8em;
        border-radius: 50%/100%;
        transform:translate(-1em,-0.5em);
    }
    100%{
        width: 3em;
        border-radius: 50%;
        transform:translate(5em,-0.5em);
    }
}



.container_white{
    display: grid;
    grid-auto-flow: row dense;    /* gridで並べる方向を横方向にする(標準) denseをつけると隙間があれば埋める設定 */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    font-size: 16px;
    background-color:white;
    z-index: 1;
}
.activities_side{
    grid-column: 1/2;
    grid-row: 2/4;
    color: midnightblue;
    writing-mode: vertical-rl;
}
.activities_sidecontent{
    transform: rotate(180deg);
    display: inline-block;
    width: fit-content;
}
.activities_contents{
    grid-column: 3/-1;
    grid-row: 2/4;
    margin-right: 50px;
    overflow: auto;    /* 横スクロール実装 */
    white-space: nowrap;    /* 横スクロール実装 */
}
.activities_frame{
    display: inline-block;
    width: 350px;
}
.activities_frame img{
    width: 100%;
}
.activities_date{
    color: gray;
}



/* ふわっと表示させるアニメーション */
.fuwari_animation{
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 2s;
}
.fuwari_animation.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}